/valheim_Data
LICENSE
changelog.txt
steam_appid.txt
UnityCrashHandler64.exe
UnityPlayer.dll
valheim.exe
vortex.deployment.unstripped-assemblies.json
MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
MonoBleedingEdge/etc/mono/browscap.ini
MonoBleedingEdge/etc/mono/config
MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/2.0/machine.config
MonoBleedingEdge/etc/mono/2.0/settings.map
MonoBleedingEdge/etc/mono/2.0/web.config
MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.0/machine.config
MonoBleedingEdge/etc/mono/4.0/settings.map
MonoBleedingEdge/etc/mono/4.0/web.config
MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.5/machine.config
MonoBleedingEdge/etc/mono/4.5/settings.map
MonoBleedingEdge/etc/mono/4.5/web.config
MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/mconfig/config.xml
/MonoBleedingEdge
__folder_managed_by_vortex
/BepInEx/vortex.deployment.bepinex-root-mod.json
/BepInEx/cache
vortex.deployment.json
BepInEx/LogOutput.log
BepInEx/config/QuickStack_player_*.dat
BepInEx/plugins/CustomMeshes/vortex.deployment.valheim-custom-meshes.json
